/* telefoon */
@media screen and (min-width: 360px) and (max-width:740px){
}

/* Tablet */
@media only screen and (max-width:1024px) and (min-width: 768px){
}

/* Desktop*/
@media only screen and (max-width:1440px) and (min-width: 900px){
    *   {
        padding: 0 auto; 
    }

    body{
        margin: 0 auto;
        display: flex;
    }
    ul li{
        list-style: none;
        float: right;
        margin: 10px;
    }
    header {
        display: flex;
        margin: 10px;
    }

    #navbar img {
        height: 100px;
    }

    #tekst1 img {
        height: 100px;
    }

}