*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 360px) and (max-width:768px){

}
@media screen and (min-width: 768px) and (max-width:1200px){

}
@media screen and (min-width: 1200px){
    body{
        background-color: #e6e6e6;
        width: 100vw;
    }
    ul li,  a:link, a:visited{
        color: white;
        text-decoration: none;
    }
    #navbar{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 70vw;
        margin-left: 15vw;
    }
    ul li{
        list-style: none;
        text-decoration: none;
        float: left;
        font-size: 1.5rem;
        color: #3fb0ac;
        height: 12vh;
        width: 13vw;
        background-color: black;
    }
    ul li img{
        margin-top: -1.5vh;
        margin-left: 3vw;
    }
    ul li a{
        position: relative;
        top: 3.5vh;
        left: 3vw;
    }
    #tafels{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3vh;
    }
    #machtreeks{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3vh;
    }
    main h1{
        display: flex;  
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
    }
    #tafel-ant{
        display: flex;
        background-color: white;
        width: 40vw;
        height: 25vh;
        border: 1px solid black;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 30vw;
        margin-top: 5vh;
    }
    #macht-ant{
        display: flex;
        background-color: white;
        width: 40vw;
        height: 25vh;
        border: 1px solid black;
        flex-direction: row;
        justify-content: center;
        margin-left: 30vw;
        margin-top: 5vh;
    }
    #kwadraat-ant{
        display: flex;
        background-color: white;
        width: 40vw;
        height: 25vh;
        border: 1px solid black;
        flex-direction: row;
        justify-content: center;
        margin-left: 30vw;
        margin-top: 5vh;
    }
    #kwadraten{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3vh;
    }
    
    #breuk-antwoord{
        display: flex;
        background-color: white;
        width: 40vw;
        height: 25vh;
        border: 1px solid black;
        text-align: right;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}